<body class="bg-secondary-subtle">


<div class="container text-center">
  <div class="row justify-content-center">
  <h2  class="mt-3 ">Note App</h2>
  </div>
  <div class="row  justify-content-center">
  <p class=" col-6 mt-3">
    Welcome to Note App. This is an Application for
    saving your notes. It created in order to present it as a final project
    by Geoge Katsafanas!
  </p>
  </div>

  <div class=" mt-5 row col-12 ">

    <p>If you have an Account please <a routerLink="login">Login</a></p>
    <p>If you don't have an Account  Account please <a routerLink="register">Register</a></p>

  </div>

</div>


</body>
